@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body{
    font-family: Montserrat, 'Arial  Bold', sans-serif;
    
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container-1 {
    width: 15rem;
    height: 100%;
    font-size: 50%;
    position: relative;
}

.searchbar {
    font-size: 1.2rem;
    width: 15rem;
    height: 2.5rem;
    border: 1px solid black;
    outline: none;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .2s;
    
}
.searchbar:hover {
    width: 16rem;
    height: 3rem;
}
.button {
    height: 1rem;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    transition: all .2s;
    
}
.button:hover {
    cursor: pointer;
}
.searchbar:hover + .button {
    height: 1.25rem;
    top: 0.9rem;
    right: 0;
}
.searchbar::placeholder {
    opacity: .3;
}

.container-navbar, .container-text-under-navbar-wrapper, .head-section-navigation, .events-cards,
.wrapper-footer-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inner-container-navbar, .events-cards-werapper-general,
.footer-container-inner{
    min-width: 1200px;
    max-width: 1800px;
    
   
}

.nav-item{
    display: inline-flex;
}

.nav-buttons{
    display: inline-flex;
}

.button-menu{
    
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 0.5rem;
    border: 1px solid white;
    background-color:transparent;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

.base-nav-button{
    transition: .2s linear;
}

.button-login{
    transition: .2s linear;
    margin-right: 0;
    background-color: rgb(0, 167, 53);
    color: white;
}

.site-name{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.buttons-nav-menu{
    float: right;
}

.site-name-base{
    float: left;
    margin-top: 10px;
}



.about-us{
    width: 99px;
    margin-left: 0;
}


.base-nav-button:hover{
    border: 1px solid black;
    transition: .2s linear;
}

.button-login:hover{
    transition: .2s linear;
    background-color: white;
    color: rgb(0, 167, 53);
    border: 1px solid rgb(0, 167, 53);
    transition: .2s linear;
}

.burger-button{
    display: none;
}

.burger-nav-button{
    border: 1px solid rgb(0, 167, 53);
    background-color: rgb(0, 167, 53);
    color: white;
    border-radius: 5px;
    transition: .2s linear;
}

.inbutton-container{
    width: 40px;
    height: 44.2px;
    border-radius: 5px;
    color: white;
    transition: .2s linear;
    
}

.burger-nav-button:hover{
    border: 1px solid rgb(0, 167, 53);
    background-color: white;
    color: rgb(0, 167, 53);
    border-radius: 5px;
    transition: .2s linear;
}
.inbutton-container:hover{
    
    color: rgb(0, 167, 53);
    
    transition: .2s linear;
}

.mobile-item-nav-button{
    display: none;
}

.btn-login-mob, .btn-registration-mob{
    display: none;
}

.button-exit-in-base-menu{
    display: none;
}

.nav-button-search-menu{
    display: none;
}


/* Текст после навигационной панели */

.background-container{
    width: 100%;
    min-width: 280px;
    
    background-color: rgb(63, 57, 107);
}

.container-text-under-navbar-wrapper{
    padding-top: 30px;
}
.container-text-under-navbar{
   
    
    min-width: 1200px;
    max-width: 1200px;
}

.base-text-column{
    padding-left: 0;
    height: 90%;
    padding-bottom: 30px;
}

.title-base-text-header{
    color: white;
    font-weight: 700;
    
}

.base-text-p-header{
    margin-top: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
}

.image-section-basetext-header{
    float: right;
    height: 90%;
}

.row-under-nav{
    --bs-gutter-x: 0;
}

.logotipe-site-under-header{
    height: 100%;
    border-radius: 10px;
}

.image-site-logo{
    height: 260px;
}

.title-head-sc-navigation > h4{
    font-weight: 500;
    
}

.wrapper-head-section-navigation{
    min-width: 1200px;
    max-width: 1800px;
}

.title-head-sc-navigation{
    margin-bottom: 30px;
}

.dropdown-button-custom{
    width: 178px;
}
.start-select-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    font-size: 13px;
    
    cursor: pointer;

}

.mods-sort-inems{
    margin-top: 10px;
    list-style-type: none;
    width: 178px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    padding-left: 0;
}
.mods-sort-inems .option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    transform-origin: top;
    transform: scale(0) translateY(-65px);
    margin-bottom: -60px;
    background-color: white;
    transition: 0.2s;
    
    transition-delay: calc(.1s * var(--i));
    z-index: 1;
}

.option{
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
}

.mods-sort-inems .option:hover{
    background-color: rgb(228, 228, 228);
}
.start-select-button .arrow-down{
    transition: 0.5s;
}
.start-select-button.active .arrow-down{
    transform: rotate(180deg);
    
}

.start-select-button.active~.mods-sort-inems .option{
    
    transition: 0.5s;
    
    transform: scale(1) translateY(0);
    margin-bottom: 0;
    
}

.button-filters{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    width: 178px;
    background-color: white;
}

.button-select-filters-base{
    border: none;
    border-radius: 10px;
}

.filter-button-container{
    display: inline-flex;
    float: right;
}

.button-sort-quick{
    display: inline-flex;
}
.icon-filers{
    margin-left: 20px;
    font-size: 15px;
}

.button-filters:hover{
    background-color: rgb(238, 238, 238);
}

.start-select-button:hover{
    background-color: rgb(238, 238, 238);
}



.mods-seach-containers{
    display: inline-flex;
}


.one-block-seach> ul{
    list-style-type: none;
}

.one-search-mod-btn{
    margin: 5px;
    border: none;
    background-color: white;
    color: rgb(92, 92, 92);
    font-size: 12px;
}

.one-search-mod-btn:hover{
    color: rgb(94, 37, 148);
}

.one-block-seach{
    width: 200px;
}

.mods-search-container-wrepper{
    
    display: flex;
    justify-content: center;
}


.title-mods-menu{
    font-size: 14px;
    font-weight: 500;
}

.events-cards{
    margin-top: 0;
    transition: 2s;
}

.head-section-navigation{
    margin-bottom: 0;
}

.button-sort-quick{
    margin-bottom: 50px;
}

.event-card-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background: rgb(100, 73, 144);
    overflow: hidden; 
    border-radius: 13px;

}

.event-card-wrapper::before{
    content: "";
  padding-top: 100%;
  float: left;
}

.container-fluid-custom{

    --bs-gutter-x: 0rem;
}

.event-card-col-custom{
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.scelet-event-card{
    margin: 15px ;
}

.title-event-card>h3{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.image1-cardevent-img{
    width: 120px;
    border-radius: 10px;
}

.upper-telo-cardevent{
    margin-top: 30px;
    display: inline-flex;
}

.text1-cardevent, .text-nearby-image-down{
    margin-left: 15px;
    color: white;
}

.image2-carevent-img{
    border-radius: 10px;
    width: 120px;
    height: 140px;
}

.downer-telo0container{

    
}


.title-event-card{
    display: flex;
    justify-content: center;
}

.button-more-event-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.more-event-section-btn{
    width: 100%;
    padding: 15px;
}

.more-btn-eventcard{
    border: 1px solid white;
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    
    transition: 0.3s;
}

.more-btn-eventcard:hover{
    background-color: rgb(0, 167, 53);
    border: 1px solid rgb(0, 167, 53);
    color: white;
    transition: 0.3s;
}

.text-downer-nearby-img-down-p{
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}

.events-cards-werapper-general{
    max-width: 100px;
}

.all-foooter-container{
    background-color: rgb(168, 168, 168);
    bottom: 1;
}

.wrapper-footer-container{
    margin-bottom: 0;}

.social-networks-container,
.social-network-container, 
.up-row-container,
.dop-buttons-nav{
    display: inline-flex;
}
.up-row-container{
    padding-top: 50px;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    
}

.down-row-container{
    padding-bottom: 20px;
}

.text-base-social-networks{

}

.social-network-container{
    margin-left: 25px;
    margin-right: 25px;
    
}

.logovk, 
.logoface{
    margin-top: 3px;
}


.footer-button{
    border: none;
    background-color: transparent;
    transition: 0.09s;
}

.button-footer{
    margin-left: 20px;
}

.footer-button:hover{
    transition: 0.09s;
    color: red;



