.title-text > h2{
    text-align: left;

    font-weight: 900;
}

.head{
    margin-top: 30px;
    margin-left: 60px;
}

.navbar>.container-fluid, .container-fluid{
    align-items: none;
    justify-content: flex-end;
}

#1233{
    justify-content: flex-end;
}
.collapse{
    border: 1px black;
}

.text-button-filters,
.icon-filters-button {
    display: inline-flex;
    margin: 6px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.filters-name-section{
    margin-bottom: 0;
    font-size: 15px;
}

.navbar-toggler{
    border-radius: 12px;
}

.navbar-toggler:active{
    border-color: white;
}

.decorated-collapse{
    border: 10px black;
    border-radius: 10px;
    background-color: rgb(205, 205, 205);
    height: 400px;
}