{% extends 'base_app/registration_template.html'%}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'base_app/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="window-authtorization">
    <div class="title-window-authtorization">
        <h2>Авторизация</h2>
    </div>
    <div class="form-registration-user">
        <form action="POST" class="form-authtorization-form">
            <div class="inputs-form-auth">

                <input type="text" required placeholder="Логин" minlength="8" class="Input-login">
                <input type="password" placeholder="Пароль" class="Input-login" minlength="8">
            </div>
            <div class="button-finish-authtorization">
                <button class="btn-finish-authtorization" type="submit">Авторизироваться</button>
            </div>

            <div class="create-account-container">
                <a href="#" class="create-account-btn">
                    <div class="inner-button-registration">
                        Создать аккаунт
                    </div>
                </a>
            </div>
        </form>

        <div class="dop-form-auth-user">
            <div class="dop-form-auth-user-wrapper">
                <div class="title-dop-form-auth-user">Войти с помощью</div>
                <div class="container-methods-auth">
                    <div class="sn-method-auth right-method">
                        <a href="#">
                            <img class="icon-auth-method"  src="/media/img/Google_Logo.svg.png" alt="erw" >
                        </a>
                    </div>
                    <div class="sn-method-auth left-method">
                        <a href="#">
                            <img class="icon-auth-method" src="/media/img/logoVk.svg.png" alt="erw" >
                        </a>
                        
                    </div>
                </div>

            </div>
        </div>

        
    </div>
</div>
{% endblock %}




{% block script %}  
<script src="{% static 'base_app/js/submit-email.js' %}"></script>


{% endblock %}