{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base_app/css/base_underheader.css' %}" />
    <link rel="stylesheet" href="{% static 'base_app/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'base_app/css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'base_app/css/section.css' %}" />
</head>
<body>
    <header>
      <nav>
          <div class="container-navbar">
            <div class="inner-container-navbar">
              
                <div class="row">
                  <div class="col">
                    <div class="nav-item site-name-base">
                      <a href="#" class="site-name"><h3>Мероприятия СПБ</h3></a>
                    </div>
                  </div>
                  <div class="col search-item-nav">
                    <div class="nav-item ">
                      <div class="search-nav-item">
                        <div class="container-1">
                          <input type="text" maxlength= "30" placeholder="Найти" class="searchbar">
                          <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button">
                        </div>
      
                      </div>
                    </div>
                  </div>
                  <div class="col buttonn-items-nav" id="buttons">
                    <div class="nav-item buttons-nav-menu">
                      <div class="nav-buttons">
                        <button class="button-menu button-login btn-login-mob">Войти</button>
                        <button class="button-menu base-nav-button btn-registration-mob">Регистрация</button>
                        <button class="button-menu base-nav-button about-us">О нас</button>
                        <button class="button-menu base-nav-button btn-registration-nav">Регистрация</button>
                        <button class="button-menu button-login">Войти</button>
                        <button class="button-menu base-nav-button mobile-item-nav-button mobile-item-nav-button-events">Мои мероприятия</button>
                        <button class="button-menu base-nav-button mobile-item-nav-button">Посещённые мероприятия</button>
                        <button class="button-menu base-nav-button mobile-item-nav-button mobile-item-nav-button-exit">Выйти</button>

                        <div class="search-item-nav nav-button-search-menu">
                          <div class="nav-item ">
                            <div class="search-nav-item">
                              <div class="container-1">
                                <input type="text" maxlength= "30" placeholder="Найти" class="searchbar">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="button-exit-in-base-menu" id="exit-btn">
                      <button class="btn-exit-nav">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="col- burger-button" id="nav-btn">
                    <div class="burger-button-container">
                      <button class="burger-nav-button">
                        <div class="inbutton-container">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="44" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                        </div>
                         </button>
                    </div>
                  </div>
                </div>
            </div>
          </div> 
      </nav>

      <div class="background-container">
        <div class="container-text-under-navbar-wrapper">
          <div class="container-text-under-navbar">
            <div class="row row-under-nav">
              <div class="col-8 base-text-column">
                <div class="title-base-text-container">
                  <h2 class="title-base-text-header">Кто мы?</h2>
                </div>
                <div class="p-text-base-text">
                  <p class="base-text-p-header">
                    Сайт "Мероприятия СПб" - это удобный календарь событий, проходящих в Санкт-Петербурге. Здесь вы найдете информацию о концертах, выставках, спортивных мероприятиях, фестивалях и других интересных событиях, которые проходят в городе. На сайте можно выбрать нужную дату и узнать, что происходит в этот день, а также подписаться на рассылку и получать уведомления о новых мероприятиях. Благодаря сайту "Мероприятия СПб" вы никогда не пропустите важное событие в своем городе!
                  </p>
                </div>
              </div>
              <div class="col-4 image-site-logo">
                <div class="image-section-basetext-header">
                  <img class="logotipe-site-under-header" src="media/img/logo.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- <section>
      <button id="myButton">По популярности</button>

      <div class="form_radio_btn">

        <input id="radio1" type="radio" name="review_type" value="По популярности" onclick="checkType()" checked> 
        <label for="radio1">По популярности</label>
      </div>
      <div class="form_radio_btn">

        <input id="radio2" type="radio" name="review_type" value="По дате" onclick="checkType()">
        <label for="radio2">По дате</label>
      </div>
      <div class="form_radio_btn">

        <input id="radio3" type="radio" name="review_type" value="По времени" onclick="checkType()" >
        <label for="radio3">По времени</label>
      </div>
      <div class="form_radio_btn">

        <input id="radio4" type="radio" name="review_type" value="Сначала новые" onclick="checkType()">
        <label for="radio4">Сначала новые</label>
      </div>

        
    </section> -->


    <section>
      <div class="head-section-navigation">
        <div class="wrapper-head-section-navigation">
          <div class="title-head-sc-navigation">
            <h4>Мероприятия</h4>
          </div>

          <div class="section-navigaiton-panel-container">
            <div class="button-sort-quick">
              
              <div class="dropdown-button-custom">
                <div class="start-select-button" id="start-select-button">
                  <span id="text">По популярности</span>
                  <ion-icon class="arrow-down" name="chevron-down-outline"></ion-icon>
                </div>
                
                <ul class="mods-sort-inems">
                   <li class="option" style="--i:4;"><span class="option-text">По популярности</span></li>
                   <li class="option" style="--i:3;"><span class="option-text">По дате</span></li>
                   <li class="option" style="--i:2;"><span class="option-text">По времени</span></li>
                   <li class="option" style="--i:1;"><span class="option-text">Сначала новые</span></li>
                </ul>
              </div>

              
              
            </div>
          </div>
        </div>
        
      </div>
      
    </section>

    <footer>
    </footer> 
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{% static 'base_app/js/main.js' %}"></script>
  <script src="{% static 'base_app/js/dropdownbutton.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>